[2019-10-10 08:06] polarathene commented on #101
After dealing with font configuration on Linux, and finding that a font was overriding the glyphs of other fonts from having a higher priority when seeking fallbacks, I'd like to vote against something like this(since others seem to be for it).

Your OS (Windows/macOS I'm pretty sure handle this, Linux definitely) should be falling back to alternative fonts when glyphs are missing. Emoji/Symbols a

[2019-10-10 08:22] polarathene commented on #220
I prefer the current characters in Source Code Pro personally. Some of the changes you're requesting look you'd get an alright result with a heavier/larger font-weight, others lose their form or aesthetic(`~` needs to be vertically stretched, `*` thickens outwards and adds an extra spoke changing it's design quite a bit to one I don't personally like).

Modern fonts seem to be able to offer "styli

[2019-10-10 21:28] h-h-h-h commented on #101
@polarathene: Fallback fonts mess up character sizes, at least on Windows. Not to do this is especially important with Source Code Pro, since it's a monospace font.

[2019-10-10 22:55] polarathene commented on #101
I don't know what sort of control you'd have with fallback fonts on Windows. On Linux you can make a font scalable, so symbol/emoji adjust appropriately.

If this were to be supported, it should be some variant, as disabling glyphs is more difficult to do/maintain as a user than fallback fonts imo. If you can find a way to ensure what fallback font is used, perhaps Noto Emoji would work, or if you

[2019-10-11 07:14] sever1an commented on #220
Programming in languages that are especially dense with symbols, the bolder styles might actually be overwhelming. Having the `*` not vertically centered with `+` and `-` would literally drive me crazy.

[2019-10-12 20:22] Sambo3975 opened #225 "Loading the Variable Font Breaks Font Rendering on Windows"
If I try to use the variable version of the font in Microsoft Word, I get an error as soon as I start typing, and the program stops rendering fonts altogether. I can't read the error message because it won't render it either. If I try restarting Word, I get the unreadable error message again, and the program hangs. To top it all off, fonts randomly stop rendering in my other programs, too, and I h

[2019-10-12 21:42] tumugin commented on #225
I'm having the same issue on using variable fonts on IntelliJ IDEA.
Deleting font cache, disabling font cache service got no effect. Opening IntelliJ IDEA and choose Source Code Variable and my font rendering is completely broken.
My Windows version is Windows10 1903.

@Sambo3975
Are you using MacType on Windows?

[2019-10-14 18:38] miguelsousa commented on #225
Which variable font did you install, the OTF or the TTF?

[2019-10-15 11:40] polarathene opened #226 "[Request] Variant without symbols"
Some symbols don't really belong in fonts, especially when the support for them is cherry-picked from a larger set by request/preference. Most notably glyphs that have emoji coverage, as these will prevent the use of fallbacks to a system or user assigned/preferred font for covering those glyphs(monochromatic or colour).

As the font does not provide a replacement of such a large set(understandabl

[2019-10-22 10:15] tspiteri opened #227 "Hyphen U+2010 is like minus"
U+002D hyphen-minus is like U+2212 minus, which makes perfect sense for a coding font where hyphen-minus usually does mean minus. But I think U+2010 hyphen should not be like minus, but should be rendered like a dash by default, not just in the stylistic set with alternatives.

[2019-10-22 10:32] tspiteri commented on #96
Care needs to be given when the same pair of characters can mean something different. For example `<=` can mean less-than or equal to `≤`, or it can mean leftwards double arrow `⇐`, depending on the language or context; for example in VHDL it can mean either of the two, depending on context.

[2019-10-25 11:22] killua99 commented on #96
4 years and nothing happened.

[2019-10-26 10:00] tumugin commented on #225
I installed OTF version.

[2019-11-07 11:27] andymathieson opened #228 "Cant change color using font-face on Firefox"
Have fully tested this. The color:green for example shows in Black on Firefox on OSX. Works fine on all other browsers.

[2019-11-07 11:30] frankrolf commented on #228
Duplicate of #217

[2019-11-07 11:30] #228 closed

[2019-11-22 19:33] den32ds opened #229 "Add original Glyphs/Fontlab/etc. project file (for serifs and sans too)"

[2019-11-22 20:26] frankrolf commented on #229
The UFO files are the original project files.

[2019-11-22 20:26] #229 closed

[2019-11-22 20:27] frankrolf commented on #229
(you may want to have a look in the master branch to find them)

[2019-11-23 09:46] den32ds commented on #229
@frankrolf how do you then add new glyphs and modify existing ones?

[2019-11-23 10:15] frankrolf commented on #229
I believe all current font editors support UFO source files – in our case we use Robofont:
https://robofont.com

[2019-11-30 09:36] kh0kv opened #230 "LICENSE.md"

[2019-11-30 09:37] kh0kv opened #231 "https://github.com/adobe-fonts/source-code-pro/issues/230#issue-530556650"

[2019-11-30 09:37] kh0kv commented on #231
https://github.com/adobe-fonts/source-code-pro/issues/230#issue-530556650

[2019-11-30 11:09] #230 closed

[2019-11-30 11:09] #231 closed

[2019-11-30 18:15] kh0kv opened #232 "https://github.com/adobe-fonts/source-code-pro/issues/230#issue-530556650"

[2019-11-30 20:05] #232 closed

[2019-12-17 09:11] 3xPinkyBlack opened #233 "not working in VS Code on Ubuntu"
i set
"fontFamily":"Source Code Pro"
in vscode but it is not working
the font just changing to monospace

[2020-01-12 12:57] nagisa commented on #233
Wrong repository to report this at.

[2020-01-21 08:30] ianpan870102 opened #235 "Font weight semi-light?"
Can the user achieve (through building or downloading) a font weight version that's set between regular and light? I'd love to use light weight fonts, but Source Code Pro Light is too thin to see clearly on my screen (Macbook retina), not to mention extralight.

[2020-01-29 16:46] ianpan870102 commented on #219
Hi @pauldhunt It seems like I completely missed the notification of your reply, my bad for replying this late. On further investigation, it appears that the difference in ratio only appears in the editor I was using (Emacs), it renders nicely in modern apps like Visual Studio Code, so I believe I should file a bug over at Emacs instead.
I'll close this issue now.

[2020-01-29 16:46] #219 closed

[2020-01-29 16:56] frankrolf commented on #219
This has to do with the rasterization. The compromise made between pixel grid and actual outline is less ideal at 13 point, and may result in slightly different proportions (and this wouldn’t be a problem of Source Sans only).
Emacs probably is using a different rasterization method than VS Code, hence the visual difference.

[2020-01-29 17:12] ianpan870102 commented on #219
Thanks for the reply @frankrolf . This makes a lot of sense.

So in general, can one say that using even number font sizes is more ideal? Or just the specific size 13 has a problem?

[2020-01-29 18:34] frankrolf commented on #219
No, it’s not possible to generalize this way. Every font is different, and the sizes and relationships within fonts differ wildly. That said, a larger point size (or a 4K display) will always result in fewer proportional deviations, because this means that there simply are more pixels available.

There are fonts specifically drawn to preform best at a particular rasterization size, this one for 13

[2020-01-29 18:38] ianpan870102 commented on #219
I see, thanks for the insight!

[2020-02-20 11:29] killerddd3 opened #236 "【webstorm2019.3.1】 Garbled characters in the console"
![image](https://user-images.githubusercontent.com/42941087/74929767-229e4480-5417-11ea-9752-9016170c07da.png)
![image](https://user-images.githubusercontent.com/42941087/74929836-46618a80-5417-11ea-9722-00a6bd47d60d.png)

[2020-02-20 11:41] frankrolf commented on #236
Which version and font format are you reporting about?
Please make sure you get the latest release at https://github.com/adobe-fonts/source-code-pro/releases/latest , and test both TTF and OTF formats.

[2020-02-24 09:30] maxirios opened #237 "SCP can be somewhat odd for hex numbers with certain styles"
With certain font-size and font-weight combinations (12 pt and regular, for example) capital letters are bigger than integer digits, making hex numbers look weird.

[2020-03-08 02:22] 625781186 opened #238 "[error] font in vue ."
import css :
![image](https://user-images.githubusercontent.com/30521429/76155358-1fe56400-6126-11ea-985f-5a471ee2f4b3.png)

webpack :
![image](https://user-images.githubusercontent.com/30521429/76155365-32f83400-6126-11ea-9901-63ebe42e36c7.png)

![image](https://user-images.githubusercontent.com/30521429/76155378-4a372180-6126-11ea-88bd-6a75a287b191.png)

error :
![image](https://user-images.gith

[2020-03-08 02:38] 625781186 commented on #238
If I use `<script src="http://use.edgefonts.net/source-code-pro.js"></script>` , it's success, but I need run in local without network.

[2020-03-09 15:57] frankrolf commented on #238
I don’t assume this is an issue with the font. Edge Web Fonts is not currently in active development. You may want to look at other options for serving Source Code Pro, such as Adobe Fonts or Google Fonts.

[2020-03-09 15:57] #238 closed

[2020-03-11 15:36] #236 closed

[2020-03-18 13:38] #233 closed

[2020-03-23 06:40] BornForFever commented on #198
But Hasklig is designed for Haskell. However, synbol `/=` looks like ≠ because in Haskell it means **not equal**. However, in C and some other languages, it means **divide and assign**. If you see `a ≠ b` is written in single line that actually means `a = a / b`, won't you feel weird?

[2020-03-23 23:43] BornForFever commented on #207
This is the otf rendering problem that have been long existing on Windows.

[2020-03-24 12:26] BornForFever opened #239 "The horizontal bar of # looks uneven in ttf version"
take a look:
![无标题](https://user-images.githubusercontent.com/62426149/77425468-bb0c5800-6e0d-11ea-8e1d-502d7dee23b0.png)

[2020-03-25 06:11] BornForFever opened #240 "Suggestions: 2 variations, one with ligatures, one without."
Discussions on ligatures can date back to 5 years ago(see #96), in which some users were support for ligatures while others were against, thinking that ligatures may harm clarity. Then, 5 years passed and nothing happened. However, can't we really make both sides satisfied? Based on these questions, I came up with an idea to make a ligaturized variation, hoping to solve this problem.

[2020-03-25 06:19] ianpan870102 commented on #240
Look no further, Haslig is your answer: https://github.com/i-tu/Hasklig/

[2020-03-25 07:04] BornForFever commented on #240
But hasklig is made for Haskell, in which it is `/=` instead of `!=` that is ligatured as ≠.

[2020-03-25 07:40] ianpan870102 commented on #240
Ah, that'd be a bummer -- have you tried asking Haslig to provide a variant font? IMO that might be easier than asking Adobe to work on ligatures :)

[2020-03-25 08:02] BornForFever commented on #240
Not yet.

[2020-03-27 05:04] BornForFever commented on #96
@pauldhunt It's been 5 years since this issue was opened. So any progress? I came up with a solution in #240 . I hope it can help.

[2020-03-27 08:37] SimenB commented on #240
A couple of other alternatives - I've used [Fira Code](https://github.com/tonsky/FiraCode) for a few years and recently moved to [JetBrains Mono](https://www.jetbrains.com/lp/mono/). Both support ligatures like hasklig, but are not geared towards specific languages (maybe a slight leaning towards c-style languages?)

[2020-04-08 01:05] DLasher106 opened #241 "Warning about variable font release"
The Releases page has the warning:

This may be misleading, and should be reworded to say that Windows 10 _can_ use the _.ttf_ variable fonts.

[2020-04-08 06:39] frankrolf commented on #241
Re-wording needs to happen since macOS 10.15 supports CFF2 .otf files, but I wonder what’s misleading about the rest?
The last sentence, perhaps?

[2020-04-11 13:42] BornForFever commented on #241
Well, I once installed the otf and ttf variable font and they both worked well on my windows10.

[2020-04-13 08:36] frankrolf commented on #241
Installing both formats in parallel is not recommended, since the internal font names are the same across formats. In the best case you won’t know which font format you are dealing with, in the worst case there will be crashes.

[2020-04-13 08:38] frankrolf commented on #241
“Worked fine” also is relative – the CFF2 file may work when placed in the InDesign fonts folder (for example), or used through Chrome – but it doesn’t mean that the OS supports the format natively.

[2020-04-17 11:29] BornForFever commented on #241
I'm sorry I didn't make it clear. In fact, I installed the otf variable font, and then uninstalled it, and then installed the ttf font.

[2020-04-17 12:41] frankrolf commented on #241
Thanks! I will do some investigation on my end, and update the note accordingly.

[2020-04-21 23:42] cata0309 commented on #96
What is the name of the IDE/editor and also the color scheme ? Looks great

[2020-04-24 10:29] BornForFever commented on #198
And requests about ligatures has been existing for years. However, they are still not implemented by now. Are they too difficult to do? Fonts including Fira Code, Monoid, Iosevka, Pragmata Pro and Jetbrains Mono already have them! I'm now using Jetbrains Mono but I really miss the days with Source Code Pro! 😖

[2020-04-27 19:30] lighth7015 opened #242 "Some block characters not 100% width"
On linux, when using TUI applications, Source Code Pro has some SLIGHT space between the box shadow glyphs.
![image](https://user-images.githubusercontent.com/671336/80381904-9e7d9880-886f-11ea-9529-5d7769bfb669.png)

[2020-04-27 21:04] frankrolf commented on #242
That’s an odd one – I’d be surprised if `  Quit  ` uses a different box than the shade (and FWIW, the shade of the window itself). Is if possible for you to paste what we’re seeing as characters here?

[2020-04-27 21:52] lighth7015 commented on #242
The author of the library gave me an example to paste in my terminal, and I can confirm the issue is with the glyph itself, though here is the character it is writing to the terminal-
[code]

[2020-04-27 21:55] lighth7015 commented on #242
Here is a Konsole screenshot, with the line hilghighted, so the edges of the character can be seen.
![image](https://user-images.githubusercontent.com/671336/80424688-3bf8bc80-88b0-11ea-9f89-949e111eefea.png)

[2020-04-27 22:02] frankrolf commented on #242
As far as I can see, the glyph itself is 600 units (a.k.a. 100%) wide in all the instances. See for example. here: https://github.com/adobe-fonts/source-code-pro/blob/master/Roman/Instances/Regular/font.ufo/glyphs/uphalfblock.glif

This is an issue that has to do with the rasterizer used. Have you tried to see what happens if you are using the alternate outline format? (TTF if you’re currently usi

[2020-04-27 22:23] lighth7015 commented on #242
Installing the ttf versions of the fonts, and will reply in a few minutes! :D

[2020-04-27 22:52] lighth7015 commented on #242
Yeah, apologies. Konsole is has issues with Source Code Pro, it seems!

[2020-04-28 10:20] frankrolf commented on #242
That’s too bad! What happened when using the TTFs? Also, which fonts work well for you?

[2020-04-28 17:28] lighth7015 commented on #242
The TrueType variants also exhibit the 1px space to the right of the block glyphs. I mean I love Source Sans and Source Code, they're amazing fonts! But I'm just trying to track down where this is coming from so it can get fixed. :D

[2020-04-29 13:31] lighth7015 commented on #242
I figured it out; somehow KDE's anti-aliasing is adding that spacing between the characters. :D

[2020-04-29 19:17] lighth7015 commented on #242
Specifically, "Font smoothing" was the culprit. :D

[2020-05-03 17:00] 532910 opened #244 "adobe-fonts.github.io color issues"
https://adobe-fonts.github.io/source-sans-pro/, https://adobe-fonts.github.io/source-serif-pro/ and https://adobe-fonts.github.io/source-code-pro/ doesn't redefine colors, so all of them look fine in the dark browsers:

![image](https://user-images.githubusercontent.com/14617699/80920356-03595700-8d78-11ea-8255-5d0a1b110bf2.png)

But when mouse is over, all are completely unreadable:
![image](http

[2020-05-04 20:40] lighth7015 commented on #242
Yeah, it's been a little over a week and I'm not seeing that issue anymore with my workaround. So I feel safe closing this. Thanks so much for the assistance figuring out what's going on! :D

[2020-05-04 20:40] #242 closed

[2020-05-09 10:10] BornForFever commented on #205
And on my android phone, these symbols look like this:
![Screenshot_20200509_180931](https://user-images.githubusercontent.com/62426149/81470940-50c64000-9220-11ea-9f9c-b900ed4b8ce7.jpg)

[2020-05-09 14:10] moyogo commented on #205
Did you mean like this first one, lower than the ascender height and centered on the bowl?
<img width="303" alt="image" src="https://user-images.githubusercontent.com/1923747/81475913-e1902200-9206-11ea-99f6-cd25b794f02d.png">
Or did you mean like this second one, higher than the ascender height and centered on the whole letter?
<img width="320" alt="image" src="https://user-images.githubuserconte

[2020-05-13 05:49] pauldhunt commented on #237
@maxirios i understand what you are saying, but can you please provide some images for documentation sake? thanks

[2020-05-13 05:52] #212 closed

[2020-05-19 07:35] Moilleadoir commented on #205
Sorry for the slow reply. Definitely like the first one. This originated in manuscripts and was used more generally in Gaelic typefaces.

Example from _Lebor na hUidre_ (11-12th century):
![11-12 c Lebor na hUidre](https://user-images.githubusercontent.com/1229543/82297905-ae177980-99f6-11ea-9f3a-e34739604da8.jpg)

Some examples of Gaelic fonts:
![Clónna Gaelacha](https://user-images.githubusercon

[2020-05-23 12:04] BornForFever commented on #96
It seems like an intellij-based ide

[2020-06-13 11:37] adrian5 commented on #168
Sorry to bump this old topic. Is there a technical reason for the Variable fonts being unhinted? The hinted version indeed looks much better.

[2020-06-13 17:18] mark-otaris commented on #168
I think the tools to generate hinted CFF2 variable fonts were lacking at the time. psautohint can hint the fonts now.

[2020-06-14 19:24] adunning opened #245 "Update packaging to match Source Serif/Sans"
It would be brilliant if both variable and static fonts could be provided as a single archive file to match the Source Serif and Source Sans distributions.

[2020-06-20 15:11] krish-r opened #246 "Details of available Stylistic Sets"
Hi,
First of all, thanks for this awesome font.
While playing around with vs code font ligatures option, I was able to activate some of the stylistic sets (ss02, ss03, etc.).
But somehow I could not find details of the available stylistic sets in the repository/readme.
Can someone please point me to that documentation/help me with the details of available stylistic sets.
Thanks.

[2020-06-20 16:27] frankrolf commented on #246
You are right – there is little documentation about those!
Two workarounds:
- some applications can read the names of stylistic sets, such as Adobe Illustrator, InDesign and Photoshop. You will see those names in the OpenType menu.
- you could check the source files for OpenType features and find the contained names, e.g. here: https://github.com/adobe-fonts/source-code-pro/blob/01b97528a2c65621d7

[2020-06-20 18:53] krish-r commented on #246
Thanks, this surely helps. :)

Tried to pull the headers & description from the source file for my reference.
Adding few of them here for quick reference, hope this might be useful for others too.

| Stylistic Sets | Description |
| ----- | ----- |
| ss01 | Typographic alternates |
| ss02 | Alternate a, cursive beta |
| ss03 | Alternate g, cursive theta, Serbian be |
| ss04 | Alternate i |
| ss05

[2020-06-20 18:53] #246 closed

[2020-07-05 14:52] turkeyphant opened #247 "Glyphs not being rendered at uniform width"
https://github.com/aristocratos/bashtop/issues/159#issuecomment-653897963

Unicode Block “Braille Patterns” U+2800 - U+28FF
Unicode Block “Geometric Shapes” U+25A0 - U+25FF
Unicode Block "Box Drawing" and "Block Elements" U+2500 - U+259F

[2020-07-05 20:24] fitojb commented on #247
This font doesn’t contain any of these characters, so what you’re actually seeing is a fallback font, which won’t necessarily have the same metrics as SCP, hence the differing widths in your terminal.

[2020-07-05 21:21] turkeyphant commented on #247
That makes sense. Is there any plan to add these characters?

[2020-07-28 02:47] pauldhunt commented on #245
Will look into this for future release.

[2020-07-28 02:49] pauldhunt commented on #244
can you update the source and submit a pull request? or provide the code necessary for me to plug into it? thanks.

[2020-07-28 03:37] 532910 commented on #244
1. I don't see web page source in this repo.

2. The issue is here:
[code]

[2020-08-04 22:07] Moth-Tolias commented on #247
isn't there a "unknown character" or something that's supposed to display in these cases?

[2020-09-07 14:23] vannavu opened #248 "Variable font not showing in color on Firefox macOS"
The bug is happening specifically in Catalina 10.15.6 and Firefox 80.0.1. Otherwise the color is showing correctly on Safari and Chrome across all devices as well as Firefox on Android and iPad.

I’m getting a weird bug that is only happening with Source Code variable and not other variable fonts on Firefox. The text color is showing as black instead of what’s defined in CSS. The website uses the

[2020-09-07 14:42] frankrolf commented on #248
Hi! Thanks for the report.

This is a known bug in Firefox, it has come up before:
https://github.com/adobe-fonts/source-code-pro/issues/217

The reason is the fact that the font contains a handful of SVG glyphs – Firefox automatically concludes that that font is colored and thus should not be colored any other way.

I think there might even be an official Mozilla bug for this – I’ll look it up an

[2020-09-07 14:54] frankrolf commented on #248
This is the official acknowledgement: https://bugzilla.mozilla.org/show_bug.cgi?id=1520157

Looking around on the bug tracker, I stumbled upon
https://bugzilla.mozilla.org/show_bug.cgi?id=1297676 , which led to
https://pixelambacht.nl/lapislegit/ – interesting!

Summary – fonts with SVG table are (unfortunately) not well supported on Firefox.
If you have control over the fonts you’re serving, you

[2020-09-08 14:16] vannavu commented on #248
Thank you!

[2020-09-08 14:17] #248 closed

[2020-09-09 22:15] RuixiZhang42 commented on #237
@pauldhunt Here is a simple example:

![scpcapfig](https://user-images.githubusercontent.com/39968857/92659938-61b6b900-f2c7-11ea-8410-eae7f8d6aa39.png)

The figure/digit height is lower than the cap height, which can cause hex numbers to look “bouncy”.

A solution is to provide another set of figures that have exactly the same height as the caps: `zero.cap`, `one.cap`, etc. These “cap figures” ca

[2020-09-10 06:43] zengchulin opened #249 "这款字体小写字母 i 可以去掉向左出头的设计吗？换成consolas字体的i"

[2020-09-10 14:26] RuixiZhang42 commented on #249
Translation of the title (slightly modified): **Is it possible to provide an alternative design of the Latin small `i` that doesn’t have serif at the top-left of the stem? For example, like the `i` in Consolas.**

But the OP seemed to have made a mistake: The `i` in Consolas does have serif, both at the top-left and at the bottom. (中文：OP是不是搞错了，Consolas里的小写`i`左上、底部都有出头的衬线)

Source Code Pro provides

[2020-10-10 01:48] thekeith opened #250 "SCP cannot be styled in various apps (e.g. Sublime Text, VSCode) on macOS 11 (Big Sur)"
For some reason, Source Code Pro is now incompatible with some apps on Big Sur such as Sublime Text 3. Removing and reinstalling the font did not help. Also raising this to the Sublime HQ team too.

[2020-10-26 03:04] a-vrma commented on #156
The `salt` option changes more than just the 'a' character. I used just `cv01`.

Haven't experienced this personally.

[2020-10-27 05:20] jerviscui opened #251 "请问可以实现中文英文宽度1:2吗？"
您好，请问字体可以实现一个中文跨度对齐两个英文宽度吗？
如果不能支持的话，请问有什么建议么？比如我自己可以动手操作的。

还是喜欢 source-code-pro 的英文效果。

[2020-10-27 17:11] frankrolf commented on #251
Maybe you are looking for https://github.com/adobe-fonts/source-han-code-jp ?

[2020-10-27 17:22] frankrolf commented on #156
Sorry for commenting on an old issue here, this just caught my eye:

SublimeText indeed supports OT features, wihin the `font_options` preference.
See the `a`s changing here:
<img width="534" alt="Screen Shot 2020-10-27 at 18 15 04" src="https://user-images.githubusercontent.com/2049645/97337744-f463e500-1880-11eb-982a-ef133cd9d0d2.png">
<img width="585" alt="Screen Shot 2020-10-27 at 18 14 53" sr

[2020-10-28 16:27] escobera commented on #192
This issue is happening with VS Code as well
![image](https://user-images.githubusercontent.com/9344/97465939-55db9080-1921-11eb-8336-5b2471575110.png)

[2020-10-28 16:41] frankrolf commented on #192
Can you bring that up with VS Code?

[2020-10-29 01:57] jerviscui commented on #251
Thank you.
But the font is not also 2:1.
![image](https://user-images.githubusercontent.com/6396748/97515923-0783cb80-19cd-11eb-9b3d-d59e4fb05a32.png)

[2020-10-29 03:40] escobera commented on #192
Someone already did here: https://github.com/microsoft/vscode/issues/106583

Thanks

[2020-10-30 15:15] RuixiZhang42 commented on #251
@frankrolf Either [Source Han Code JP](https://github.com/adobe-fonts/source-han-code-jp) or [Source Han Mono](https://github.com/adobe-fonts/source-han-mono) has non-CJK glyphs being 667-unit wide. So 3 Latin letters occupy approximately the same horizontal space as 2 CJK ideographs.

@jerviscui A 1:2 ratio is asking for non-CJK glyphs to be 500-unit wide, which is a very “condensed” style (some

[2020-11-02 06:29] jerviscui commented on #251
@RuixiZhang42
Thank you let me know why.
Yes，500-unit wide is not friendly for read.  Source Code Pro letter spacing is comfortable.

I'm using Inconsolata now. But I think Inconsolata letter spacing is a little bit less than Source Code Pro.

[2020-11-03 13:02] frankrolf commented on #251
Thanks @RuixiZhang42.
I’ll close this now, feel free to reopen if necessary.

[2020-11-03 13:02] #251 closed

[2020-11-03 13:05] frankrolf commented on #250
Hi @thekeith, would you mind providing some more detail here?
- what does “now incompatible” mean? The fonts no longer work after installing 10.15?
- “some apps” – which apps?
- have you tried OTF versions?
- are you using the latest static release? https://github.com/adobe-fonts/source-code-pro/releases/tag/2.030R-ro%2F1.050R-it
- are you perhaps accidentally using Variable Fonts, which may not y

[2020-11-05 09:03] frankrolf commented on #244
I am currently fixing this problem for the Source Serif specimen page, but I could not get a dark background to appear, even when setting dark mode globally.
The solution would be setting the colors explicitly, like this:

[code]

This keeps the current hover color intact for light themes, and redefines background-, font-, and hover colors in dark mode.
The grey for the `h2` can stay as-is IMO.

<

[2020-11-05 11:59] 532910 commented on #244
did you set `browser.display.use_system_colors = true` and restarted firefox?

[2020-11-05 15:30] frankrolf commented on #244
I did not, and even when I do – it does not change a thing (except darkening the text on the ribbon). So I take it that it’s safer to just specify the color directly.
<img width="887" alt="Screen Shot 2020-11-05 at 16 29 53" src="https://user-images.githubusercontent.com/2049645/98260910-29102480-1f84-11eb-925b-de416b039ec9.png">

[2020-11-09 09:47] yrogge opened #252 "LibreOffice doesn’t recognize font name in OTF file"
I’m using LibreOffice 7.0.3 with SourceCodePro v.2.030 (v.1.050 for italics) on Linux system (Ubuntu 20.10).
When OTF fonts are installed, everything is perfect (LaTeX and other documents producing software), but LibreOffice export tool to PDF.
When I look to fonts used in PDF file, all SourceCodePro fonts are indicated as “DummyName” font.
If I install the TTF version of the same fonts, LibreOffi

[2020-11-09 17:13] 532910 commented on #244
Still not fixed.

[2020-11-09 20:55] frankrolf commented on #244
You’ll find out here as soon as it is!

[2020-11-10 15:54] frankrolf commented on #247
Here is the status of the current support of these Unicode ranges in Source Code Pro:

## Braille Patterns

| code point | character | name | supported |
| --- | --- | --- | --- |
| U+2800 | ⠀ | BRAILLE PATTERN BLANK | ✘ |
| U+2801 | ⠁ | BRAILLE PATTERN DOTS-1 | ✘ |
| U+2802 | ⠂ | BRAILLE PATTERN DOTS-2 | ✘ |
| U+2803 | ⠃ | BRAILLE PATTERN DOTS-12 | ✘ |
| U+2804 | ⠄ | BRAILLE PATTERN DOTS-3 | ✘ |

[2020-11-12 22:36] UnderpantsGnome commented on #250
@frankrolf I don't know if they are referring to the same issue, but on Big Sur, using VS Code, the font doesn't render any color other than black, so syntax highlight no longer works, I just checked it with the latest release of the TTF fonts.

[2020-11-13 03:12] balupton commented on #250
Issue is also reported on vscode https://github.com/microsoft/vscode/issues/100840 as well as electron https://bugs.chromium.org/p/chromium/issues/detail?id=1100502

[2020-11-13 03:13] balupton commented on #250
Perhaps https://github.com/adobe-fonts/source-code-pro/issues/244 is the same issue, just detected earlier somewhere else.

[2020-11-13 04:05] Soulike commented on #250
Same problem on Chrome 86
![image](https://user-images.githubusercontent.com/23612560/99027437-35116d00-25a8-11eb-8bdc-157fc0e7874f.png)
![image](https://user-images.githubusercontent.com/23612560/99027465-4490b600-25a8-11eb-8a38-ef9c77d6390d.png)

[2020-11-13 06:35] monadbobo commented on #250
I had the same problem.

[2020-11-13 09:52] frankrolf commented on #250
#244 is not related, since this is just a CSS issue – I just tested the site (fixed yesterday) and it works fine.
However, I think it is the same problem as #217, where Firefox would have this problem even in OSs prior to Mojave.

Explanation: Source Code Pro contains an experimental SVG table with colored glyphs in them:
<img width="1750" alt="Screen Shot 2020-11-13 at 10 42 17" src="https://user

[2020-11-13 10:00] frankrolf commented on #252
Thanks for this observation!
I don’t have the same setup so I can’t reproduce this exactly, but my thinking is that his may have to do with LibreOffice’s PDF export library. Is it possible to choose another way to export the PDF?

BTW – if the PDF file works and fonts are embedded correctly, the font name embedded within the PDF does not really matter in terms of functionality.
Also: TTF and OTF v

[2020-11-13 14:03] zavan commented on #250
@frankrolf @pauldhunt now with the final version of Big Sur released this problem potentially affects many more people. Have you made a decision on keeping the table and breaking compatibility vs removing it?

Since it was described as a "experimental" feature (and the fact that it breaks compatibility with other stable software), in my view it shouldn't make into what end users receive. One optio

[2020-11-13 14:47] pauldhunt commented on #250
I’m planning on getting a patch out ASAP that removes the SVG table in hopes that will remedy this behavior. If you’d like to test some beta fonts, please contact me. Thanks.

[2020-11-13 14:51] frankrolf commented on #237
FWIW, cap-height numbers are already supported in the `case` feature.

<img width="1234" alt="image" src="https://user-images.githubusercontent.com/2049645/99084966-e5db3480-25c7-11eb-8da4-d8b2e3a038a8.png">

I can understand the global activation of this feature in a code editor might just be too much, but at least the number requested do exist.

[2020-11-13 14:59] frankrolf commented on #235
It depends a lot on the implementing application, but fine-tuning the desired weight would the a perfect use case for a variable font:
https://v-fonts.com/fonts/source-code-variable

I have found that font thickness has a lot to do with other factors, such as the antialiasing method chosen. This can be a system-wide setting (“font smoothing”) or an application setting (font_options in Sublimetext,

[2020-11-13 15:53] wbond commented on #250
We are tracking this for Sublime Text at https://github.com/sublimehq/sublime_text/issues/3747. I've outlined what I believe to be the correct changes if you are using Core Text. I have not made the changes to our font rendering stack yet.

[2020-11-17 02:32] pauldhunt commented on #250
I’ve pushed out a new build of the fonts with SVG table removed to remedy this bug. Please update your fonts and let me know if this resolves the issue for you. Thanks.
📦 https://github.com/adobe-fonts/source-code-pro/releases/latest

[2020-11-17 02:34] pauldhunt commented on #244
@532910 can you confirm the issue is now resolved? thanks.

[2020-11-17 02:47] pauldhunt commented on #205
What is most likely happening is that you are getting fallback glyphs for these characters because they are not currently supported in the released version of the fonts. I will look into adding them to a future release.

[2020-11-17 02:49] pauldhunt commented on #224
do you mind specifying the unicode range for the characters you are interested just for clarity?

[2020-11-17 02:54] pauldhunt commented on #191
I will address this issue in the next revision of the Source Code family.

[2020-11-17 02:58] pauldhunt commented on #148
can you tell me how your sample documents were created? Also, do you know know where the UPA test page might have moved to?

[2020-11-17 03:34] jakedahn commented on #250
For what it's worth, I can confirm that the latest release you linked above fixes VSCode! I had to restart VSCode after reinstalling the font, but everything seems to be working for me -- thank you! 🥳

[2020-11-17 06:41] manngo commented on #250
I had the same problem with Atom and Firefox, which led me to conclude that it was the font and not the software.

Thanks @thekeith for reporting this, and @pauldhunt for fixing it.

[2020-11-17 07:27] 532910 commented on #244
Only for sans and code. Serif still looks the same.

[2020-11-17 08:44] frankrolf commented on #248
@vannavu This has been resolved with the latest release (see also #250):
https://github.com/adobe-fonts/source-code-pro/releases/tag/2.032R-ro%2F1.052R-it%2F1.012R-VAR

[2020-11-17 08:44] frankrolf commented on #228
This has been resolved with the latest release (see also #250):
https://github.com/adobe-fonts/source-code-pro/releases/tag/2.032R-ro%2F1.052R-it%2F1.012R-VAR

[2020-11-17 08:44] frankrolf commented on #217
This has been resolved with the latest release (see also #250):
https://github.com/adobe-fonts/source-code-pro/releases/tag/2.032R-ro%2F1.052R-it%2F1.012R-VAR

[2020-11-17 08:46] frankrolf commented on #244
The specimen for Source Serif will change completely in the next few weeks, so I did decide not to update the old CSS there.
Thanks for pointing out the issue!

[2020-11-17 08:46] #244 closed

[2020-11-17 09:02] 532910 commented on #244
Thank you for resolving!

[2020-11-17 10:05] brawer commented on #148
See here: https://github.com/googlefonts/noto-source/blob/master/test/LGC/fontdiff-und-fonupa.html

[2020-11-17 10:29] heftig opened #256 ""Regular" style confused between Roman and Italic in VAR 1.012"
Since updating the variable fonts from 1.010 to 1.012, my system (Arch Linux) mistakenly uses the italic face for "Source Code Variable" "Regular".

I think this is an error in the font, with the extra light italic face having the wrong style information: <details><summary>fc-scan output</summary>

[code]

</details>

[2020-11-17 10:30] heftig commented on #245
This has been done in the latest release.

[2020-11-17 10:32] heftig commented on #256
1.010 for comparison:
[code]

[2020-11-17 13:49] sdavids commented on #224
[Circled Numbers](https://www.unicode.org/charts/nameslist/n_2460.html)

`U+2460` &#9312;
...
`U+2473` &#9331;

[2020-11-17 20:17] kenmcd commented on #252
Same results when tested on LibreOffice v7.0.3.1 (x64) on Windows 10.
The TTF versions installed with LO (v2.030/v1.050) work fine.
The OTF versions (v2.030/v1.050) export DummyName to the PDF.
Tried with the new just-released versions (v2.032/v1.052).
OTF versions (v2.032/v1.052) export DummyName to the PDF.
TTF versions (v2.032/v1.052) work fine.
The PostScript Name field looks fine in all the O

[2020-11-17 21:27] frankrolf commented on #252
This is the relevant bit of information.

Based on this, I conclude that LibreOffice uses Macintosh font menu names for embedding OTF files to PDF.
A while ago, we dropped Mac (OS 9-era) menu names from the name table, because they are encoded in Mac Roman, and therefore present challenges for keeping them in sync with the (Unicode-supporting) Windows menu names.

See here the difference between a

[2020-11-17 21:35] mattrose commented on #250
I maintain the source-code-pro package on Fedora Linux, and I'm just wondering whether this new release has any known impact on anything other than MacOS.  Just wondering if it's worth packaging for Linux.

[2020-11-17 21:38] frankrolf commented on #250
@mattrose #217 (font color assignment in Firefox) might be worth testing for.

[2020-11-17 21:50] mattrose commented on #250
I looked at #217 and it didn't seem to affect anything but Macs (the bug states that Windows is OK)

[2020-11-18 07:22] nonumeros commented on #256
Yep.

What I did though, was to remove the annoying glyph `SourceCodeVariable-Italic.otf ` from the system and regenerate the cache with `fc-cache` for the fonts afterwards.

Surprisingly, the slanted was recognized along with the variant family of semibold, bold, medium, and even light. The roman family too. How could this be?

[2020-11-18 18:27] kenmcd commented on #252
I don't understand.
The name tables are identical in SourceCodePro-Regular `.otf` and `.ttf` files.
Both have only `platformID="3"` .
And the `.otf` does _not_ work and `.ttf` works fine.
Minion3-Regular `.otf` has both `platformID="1"`and `platformID="3"` and does _not_ work.
MinionPro-Regular `.otf` has both `platformID="1"`and `platformID="3"` and works fine.
So I do not understand your point,

[2020-11-18 22:09] pauldhunt commented on #256
Sorry, I seem to have messed up the VAR fonts with the latest patch release. Am working to get a fix out ASAP.

[2020-11-18 22:31] frankrolf commented on #252
I have a feeling that LO may use one route for embedding TTFs, another for OTFs.
One of the few things that Minion3 and these fonts have in common is the general omission of Macintosh names in the `name` table.

[2020-11-19 16:51] thekeith commented on #250
Thanks for the reply and my bad on taking so long to

[2020-11-19 16:52] thekeith commented on #250
Accidentally closed the bug when making a reply.

[2020-11-19 17:04] thekeith commented on #250
@frankrolf more details:

As noted in other tickets, colors were not properly rendering in Sublime Text and other code editors

Sublime Text, Atom

I tried the Google Font version just now and that fixed the issue. No downloaded releases from GitHub worked.

Yes

Nope

I mean I also sent to the Sublime Text team to raise the issue in case it was related to the app.

Thanks all for the help on this

[2020-11-21 21:19] adunning commented on #245
Wonderful; thank you!

[2020-11-21 21:19] #245 closed

[2020-11-25 14:24] frankrolf commented on #250
@thekeith
There has been a new release since you filed this issue. May I ask you to check out https://github.com/adobe-fonts/source-code-pro/releases/tag/2.032R-ro%2F1.052R-it%2F1.012R-VAR ?
Thanks!

[2020-12-23 19:36] zePanzerfaust opened #258 "error using ttx with variable font"
Hello,

I downloaded VAR-source-code-var-1.012 to make changes as discussed in
- https://github.com/adobe-fonts/source-code-pro/issues/157#issuecomment-317263987
- https://github.com/adobe-fonts/source-code-pro/issues/157#issuecomment-317717059

This used to work but now ttx gives me an error
`ERROR: Unknown file type: "SourceCodeVariable-Italic.otf"`
when executing
`ttx -t cmap SourceCodeVariable

[2020-12-24 03:15] zePanzerfaust commented on #258
The problem that lead to the issue, was that the merge of the font failed. This corrupted the file and therefore ttx no longer recognizes it.
The reason it failed in the first place are the missing alternative glyphs. Are they no longer available in the variable font?
For example "asterisk.a"?

[2020-12-25 15:53] Guema commented on #96
My humble opinion is that "as it is optional and must be opted-in, there is no logical reason to not do it"
Recently released code fonts support ligatures (Jetbrains recently).
The only question is about your ressources and the time you can to put for it.
Personally, i use this feature. It took time to get used to, but now i feel that code is more easily readable, especially for heavy math or comp

[2021-01-06 11:35] #250 closed

[2021-01-06 11:37] pauldhunt commented on #197
can you tell what version and format of the fonts you are using? does the problem exist for the lastest fonts?

[2021-01-07 23:11] ValZapod commented on #241
variable otf works in windows 10 20H2, LOL. Not only that, but you can even open the properties of the variable font in modern Settings app (as opposed to Control panel)! So it is false, I am of course not so sure you can use those in non UWP apps... But whatever. Word does not work for example.

[2021-01-07 23:16] ValZapod commented on #241
I doubt that. If there is it is a bug in Windows.

[2021-01-15 05:41] #256 closed

[2021-01-20 07:46] pauldhunt commented on #241
I have removed all these warnings as it seems the latest versions of Mac and Windows operating systems includes VF font support.

[2021-01-20 07:46] #241 closed

[2021-01-20 08:15] pauldhunt commented on #220
I’ll bump the size of these for the next update.

[2021-01-20 11:23] ravshansbox opened #260 "Problem with rendering "l l" in selection"
Incorrectly rendering `l l` (l space l) inside selection:
<img width="176" alt="Screen Shot 2021-01-20 at 16 20 21" src="https://user-images.githubusercontent.com/1499188/105168275-bb63a580-5b3b-11eb-8e29-7107cb92a27f.png">
<img width="194" alt="Screen Shot 2021-01-20 at 16 20 35" src="https://user-images.githubusercontent.com/1499188/105168295-c1598680-5b3b-11eb-8da2-5c5512ff3b6d.png">

[2021-01-20 11:24] ravshansbox commented on #260
Using vscode.

[2021-01-20 12:04] frankrolf commented on #260
That’s a deliberate feature for a common Catalan combination.
See also #192

[2021-01-20 12:38] fitojb commented on #260
IMHO that should be solved by VSCode by switching to the proper Unicode character, U+2027, instead of reusing U+00B7, which is an orthographic character in the Catalan language and other related Romance languages like Occitan. VSCode shouldn't ask font developers to make their fonts substandard in a human language to accomodate for their software's quirks.

[2021-01-20 14:22] frankrolf commented on #260
I agree with the sentiment, but it’s also important to consider that no Catalan coder has yet voiced their opinion.
Perhaps they’d prefer `l•l` (spaced as three characters)?

One thing is for certain: it is confusing that display characters (which are not actually part of the text string) would be considered for text shaping.

[2021-01-20 19:36] polarathene commented on #220
@pauldhunt Just to clarify, there's only one user here requesting this in the issue, no additional upvotes on it, so I'm not sure if it's a heavily desired change.

[2021-01-20 22:57] punchcutter commented on #258
@zePanzerfaust The alternate asterisk glyph in the variable OTF is named `glyph00705` so if you replace `asterisk` with that in the dumped cmap and then merge with `ttx -m SourceCodeVariable-Italic.otf SourceCodeVariable-Italic.ttx` (or whatever the name of the dumped ttx file is) then it should work. I tried it here and it worked for me. If you have a problem like mentioned above `ERROR: Unknown

[2021-01-21 05:22] pauldhunt commented on #247
@turkeyphant can you tell me what your use case is for braille and the missing geometric shapes?

[2021-01-21 13:15] frankrolf commented on #260
I asked a [_Catalan Coder_](https://ricardgarcia.com) for his opinion:

[2021-01-21 15:02] turkeyphant commented on #247
@pauldhunt IIRC it's https://github.com/romkatv/powerlevel10k

[2021-01-21 20:06] frankrolf commented on #247
I made some Braille glyphs following the same proportions as Source Code’s Box Drawing Characters – however I am not sure if including them in SCP really makes sense?
I don’t want to do a disservice to users of actual Braille glyphs as they are intended, so I’d like to read some specifications before adding them to the project.

<img width="1904" alt="Screen Shot 2021-01-21 at 21 04 57" src="https

[2021-01-21 23:48] kenmcd commented on #247
. . .

@frankrolf
Could you please share how you are creating the above tables?
They are quite large so I cannot imagine you did them manually.
Thank you.

[2021-01-22 03:27] frankrolf commented on #247
@kenmcd something like this: https://gist.github.com/frankrolf/10cafcbfcea55ab8aed8e24c20e0532f

[2021-01-24 16:54] zePanzerfaust commented on #258
This replaces the asterisk by the tilde or official Unicde name "Greek Perispomeni"?
By generating the complete ttx output an entry "<GlyphID id="705" name="uni1FC0"/>" can be found.
So the mentioned glyph00705 references uni1FC0, which I assume is the Unicode hex value of "Greek Perispomeni"? That's just my assumption and it seems to make sense.
Now my question would be, what is the alternative a

[2021-01-24 17:18] zePanzerfaust commented on #258
Thank you! This pointed me in the right direction. Dumping the whole font file with ttx and searching for `asterisk` gives several matches. The ones in the cmap and then there is
[code]
which is the alternative version I was looking for. Then following what you said, replacing `asterisk` with `glyph01001` in the cmap and merging the font.

[2021-01-24 17:18] #258 closed

[2021-01-24 19:16] zePanzerfaust commented on #258
Beware that the glyph ID in the Roman and Italic versions are not the same!
In case of the asterisk it is the following.
Roman: `glyph01001`
Italic: `glyph00705`

[2021-01-26 23:17] pauldhunt commented on #220
@polarathene I think there’s room to comfortably make the size/appearance of these characters a bit more prominent. I’m currently testing things out on my side and already appreciating having some of these redesigned in a way to make them more legible at smaller sizes.

[2021-01-29 15:20] turkeyphant commented on #247
Sorry it's actually bashtop: https://github.com/aristocratos/bashtop

[2021-02-02 13:18] timo-suoranta-varjo opened #261 "Characters that appear unexpectedly narrow"
The following characters appear unexpectedly narrow:
‧ U+2027 Hyphenation Point
∘ U+2218 Ring Operator
⋅ U+22C5 Dot Operator
⸱ U+2E31 Word Separator Middle Dot

These characters also appear narrow in any other of the few monospaced fonts that I tried (Courier, Consolas, Cascadia Mono, Lucida Console), so there may be a common reason.

I tested rendering these characters with Visual Studio Code and

[2021-02-02 16:52] frankrolf commented on #261
What you are seeing are fallback characters, rendered in a different font.
None of the code points you list are supported in Source Code Pro (presumably also not in Consolas etc.).

If you have a use case (with examples) for these characters, you may consider changing this issue to a “please add xxx” request.
Thanks!

[2021-02-02 20:39] frankrolf commented on #226
This could be achieved using `fontTools`’ `pyftsubset`:
- make a copy of the GlyphOrderAndAliasDB file at https://github.com/adobe-fonts/source-code-pro/blob/master/Roman/GlyphOrderAndAliasDB
- remove the 2nd column
- remove (or comment out) the symbols you don’t want
- save the GlyphOrderAndAliasDB as `filter.txt` (or similar)
- ` pyftsubset SourceCodePro-Regular.otf --glyphs-file=filter.txt`

Ex

[2021-02-12 09:31] Visith168 opened #262 "Hi"

[2021-02-12 17:01] siegel opened #263 "macOS ATSUI font services not recognizing Source Code Variable"
Customer reports that after installing Source Code Variable and selecting it as the default font in BBEdit's "Editor Defaults" preferences, the font is not rendered in text editing views.

This is likely because the font is missing data that ATSUI (the macOS font rendering stack that BBEdit uses) requires; but I cannot speculate as to what that might be.

You can download BBEdit [here](https://www

[2021-02-12 21:24] erniemarch2 commented on #263
FontBook has intermittent issues with CFF and CFF2 fonts when added using FontBook. If you copy the CFF2 (OTF) Variable font(s) directly into the /Library/Fonts folder, they will show up in FontBook and will pass validation.  The BBEdit issue is likely separate. I installed the fonts on the latest Mac OS and they indeed do not work in BBEdit, but they work fine in TextEdit, which suggests that per

[2021-02-12 22:40] siegel commented on #263
There's no "support" for BBEdit to implement :-), the issue is that the macOS font rendering stack that BBEdit uses isn't handling the font correctly. (It's an older API.) So there's no quick fix in BBEdit for the OS's inability to supply the font when requested by the application.

However, since Source Code Pro _does_ work, presumably the variance in behavior is explainable in terms of the struc

[2021-02-12 23:54] punchcutter commented on #263
I don't see any variable fonts working in BBEdit, even Apple's variable version of SF Mono. They _are_ applied to the Line Numbers, but not to the main editor text. CoreText handles variable fonts fine. Wasn't ATSUI deprecated years before variable fonts even existed? I can't see how it could possibly support them.

[2021-02-13 00:11] punchcutter commented on #263
I mean variable fonts are _supposed_ to work in older APIs as if they were just a single static font, but in this case they are being read correctly as variable and the instances can be applied to the line numbers so I'm not sure what else could be done on the font side to make BBEdit use the instances in the editor view.

[2021-02-15 16:54] siegel commented on #263
@punchcutter right, the issue isn't is that ATSUI needs to support variable fonts, nobody could reasonably expect that. However, Source Code Variable *should* still be displayable as a static font. The issue is that it is not, and that's related to the font itself and thus outside of BBEdit's control.

[2021-02-15 22:09] punchcutter commented on #263
I don't see how this has anything to do with Source Code Pro. Every variable font shows up the same in BBEdit and they all show up as variable fonts. And they all get applied to the line numbers which means that something in BBEdit is reading them _as variable fonts_ and applying that part correctly. If BBEdit can't apply the font to the editor text then it's a problem with BBEdit, not the fonts.

[2021-02-15 22:32] siegel commented on #263
The line numbers are drawn using Core Text, but that's not an option for the editing view. (There's a long distance between simply drawing short line numbers and a full text editing engine, and Core Text does not actually support the necessary low-level layout control. That is not really relevant here.)

So then the problem is that ATSUI isn't correctly rendering variable fonts _that you tested_,

[2021-02-16 02:59] punchcutter commented on #263
My guess is that every variable font in existence will fail to render correctly here. Most variable fonts out there right now are built the same way so contain the same basic data.

Anyway, I tried some tests... Loading any variable font in Windows 7 (which has zero variable font support) works just fine. The default instance is read and can be used. This is exactly what should be happening.

Remo

[2021-02-18 19:59] poettering opened #264 "RFE: add U+2031 "PER TEN THOUSAND SIGN" glyph ("‱")"
I recently ran into some problems with a terminal program using the permyriad (aka "PER TEN THOUSAND SIGN") glyph. As it turns out Source Code Pro lacks the glyph which triggered some problems in the terminal implementation (for details see this: https://gitlab.gnome.org/GNOME/vte/-/issues/330

Long story short, would be excellent if Source Code Pro would carry a glyph for permyriad ("‱")

[2021-02-19 03:57] kenmcd commented on #264
A curiosity question ... how/where is this character used? What is the use case?
Thanks.

[2021-02-19 13:35] Holzhaus opened #265 "U+208B 'SUBSCRIPT MINUS' has wrong width"
The subscript minus character does not have the same width as the other characters, which breaks diagrams:

![Screenshot from 2021-02-19 14-32-38](https://user-images.githubusercontent.com/1834516/108511008-8cb62780-72bf-11eb-80be-edf3741b540b.png)

[2021-02-19 15:17] frankrolf commented on #265
This character is not supported in SCP, what you are seeing is font fallback (I’m really wondering why code editors would choose to fall back to a different-pitch font?)
In your diagram, I see a few other characters that are not supported by SCP, such as ⦻ (U+29BB) – if that is it.

Please edit your issue to make it a glyph support request, perhaps describing some usage scenario for which other ye

[2021-02-19 15:18] #262 closed

[2021-02-19 16:33] poettering commented on #264
In the systemd project some resource control settings may be configured with fractions. We started out making this configurable by specifying percent, but eventually people wanted greater granularity hence we now accept permille and permyriad too.

(Usually it's easier to type in percent with two places after the dot though, admittedly, but it sounded fun accepting the unicode characters too. ;-))

[2021-02-19 16:35] poettering commented on #264
And here's he source code that implements the parse for this:

https://github.com/systemd/systemd/blob/main/src/basic/percent-util.c#L135

It's currently hard to look at in a terminal, due to the missing glyph.

[2021-02-19 17:05] Holzhaus commented on #265
Ah ok. To elaborate, the screenshot at the top is actually not a code editor, it's the HTML documentation generated by rustdoc, so it's the browser that messes up here :D

I'll edit the description. Thanks!

[2021-02-20 05:44] pauldhunt commented on #264
I’ll add this in the next update (which I am currently working on).

[2021-02-20 13:17] poettering commented on #264
That'd be excellent! Thank you!

[2021-03-06 17:09] otter451 opened #266 "\t weirdness in BBEdit"
I am having problems with Source Code Pro in BBEdit.

It may be a BBEdit thing but I only experience the problem in BBEdit with SCP.

The issue is that \t gets replaced with what looks like a capital ‘A' - if I set bbedit to display invisibles, I get the usual capital delta ‘𝝙' wherever there is a \t.

Normal behaviour (with Menlo for example)
![image001](https://user-images.githubusercontent.com/

[2021-03-07 00:36] punchcutter commented on #266
This doesn't happen for me. Which exact font is this with? OTF or TTF? Which weight?

[2021-03-07 04:18] otter451 commented on #266
I am using TTF and the issue effects all weights/variants

Running latest versions of Catalina + SCP + BBEdit

I **don't** get the issue on my production machine which runs latest Mojave + BBEdit and SCP v1.1017

EDIT: I just removed SCP from the Catalina machine, restarted and installed the ancient SCP v1.017 and the issue goes away.  Rinse and repeat with SCP v2.030 and the issue is back (all va

[2021-03-07 07:16] punchcutter commented on #266
Yes, that's exactly the same issue. Most fonts don't actually contain the encoded tab character, but for some reason the old Apple ATSUI seems to want U+000D (which has nothing to do with the tab character) which was removed from Source Code Pro almost 5 years ago. I think we can probably put it back in without any issues and that should solve the issue for you. Here's a quick test of adding that

[2021-03-07 08:26] otter451 commented on #266
That fixes it!

Thanks for your help & time @punchcutter

[2021-03-10 16:01] sorens opened #267 "Dark Mode Too Far!"
Using `Source Code Pro` with Visual Studio Code in Big Sur (just upgraded last night) results in Dark Text.

![image](https://user-images.githubusercontent.com/233764/110658515-9ae8bc80-8176-11eb-8548-3fc5ca607bee.png)

When I switch to another font, the text is readable again

![image](https://user-images.githubusercontent.com/233764/110658307-6e34a500-8176-11eb-9524-a92f3ee5f7ba.png)

# Versions

[2021-03-10 22:33] sorens commented on #267
@frankrolf Interesting! So this morning, I downloaded [2.038](https://github.com/adobe-fonts/source-code-pro/releases/tag/2.038R-ro%2F1.058R-it%2F1.018R-VAR) and installed it. I witnessed no change in behavior (i.e. text was still darkened). In that instance, I just installed the font over the existing one I had. After reading your note, I think maybe that upgrade path was flawed. This time, I rem

[2021-03-10 22:33] #267 closed

[2021-03-10 23:01] frankrolf commented on #267
Great, likely a font caching issue.
Thanks for the follow-up!

[2021-03-18 11:31] ValZapod commented on #265
Yeah, sorry about that. It is a known bug in chromium: https://bugs.chromium.org/p/chromium/issues/detail?id=807361#c_ts1600152903

Also see my comment in the other related issue https://bugs.chromium.org/p/chromium/issues/detail?id=1083930#c10

You should set some other font like PragmataPro.

[2021-03-20 07:24] newking5811 opened #268 "Wapp"
Android device

[2021-03-20 07:25] newking5811 commented on #268
Newking

[2021-03-20 07:25] #268 closed

[2021-03-29 12:51] Daymarius opened #269 "Hinting for Windows"
Need hinting like in 2.030 version for Windows.

[2021-03-29 12:53] Daymarius opened #270 "Cyrillic support for italics"

[2021-04-02 20:26] libertypi commented on #269
Agree. TTF hinting seems missing after version 2.0.30.

[2021-04-06 17:02] nic-hartley opened #271 "This sentence will likely fail to render..."
...if written in Source Code Pro, at least.

Here's how it looks in Source Code Pro:

![image](https://user-images.githubusercontent.com/4331760/113748864-fc00a300-96d6-11eb-856e-f9b3cd6609cc.png)

And here's how it looks in a normal font:

![image](https://user-images.githubusercontent.com/4331760/113749058-310cf580-96d7-11eb-874b-0b8c8fc14def.png)

This has something to do with my editor renderi

[2021-04-06 18:14] frankrolf commented on #271
Duplicate of #260

[2021-04-07 02:07] pauldhunt commented on #260
I think the best solution here is to make this behavior language specific to Catalan and to ask Microsoft to fix the bug in their software. I’ll add this to my list of things to do for the next update and may try to push a patched version sooner if I get time.

[2021-04-07 02:08] pauldhunt commented on #270
I’m currently working on this feature.

[2021-04-07 02:09] pauldhunt commented on #271
Closing because this is a duplicate issue, please see issue #260 for response.

[2021-04-07 02:09] #271 closed

[2021-04-07 05:08] moyogo commented on #260
There is no single glyph for other Catalan digraphs like ll in the fonts, why is there one for l·l?

[2021-04-07 06:34] pauldhunt commented on #260
@moyogo when i went to AtypI in Barcelona in 2014, there was a presentation by Oriol Moret Viñals that explained the situation and they proposed that l-dot-l be treated as a single glyph, so I have tried to implement those suggestions in the Source fonts. the documentation is here:
http://www.xn--ll-0ea.cat/info/la-ela-geminada

[2021-04-07 12:32] frankrolf commented on #260
It’s also not a single glyph. It’s a `ccmp` combo of three glyphs.
My stance is that text editors should not treat their character for "invisible" display of spaces as being part of the text.

[2021-04-07 19:53] moyogo commented on #260
From what I understand, l·l should have the same width as or a similiar width to ll, and L·L should do the same with LL. The single glyphs `lcat` and `Lcat` in Source Code Pro are narrower than ll and LL that are two glyphs each.
If the end result was as wide as ll and LL, that would still be problematic for Netbeans and VSCode users of course, but the issue is probably in what those apps do, as y

[2021-04-07 21:07] pauldhunt commented on #260
@moyogo in fact the L·L is the same width as the LL would be, but it is impossible to make the l·l the same width as ll, particularly in heavy weights, unless you have a lowercase l with a very long tail.

[2021-04-09 04:16] andersk opened #272 "Please release new version to NPM"
The current version of [`source-code-pro` on NPM](https://www.npmjs.com/package/source-code-pro) is 2 years old and triggers an important bug on macOS (#217, #250). I’ve verified that the version in Git is unaffected. Could you please upload the new version to NPM?

[2021-04-12 04:11] zkcloud opened #273 "Is any chance to support ligatures?"
Recently, found that ligatures in code is very useful, it's more readable and friendly.

So, if ，is any plan?

[2021-04-12 04:18] pauldhunt commented on #273
I have thought about it a bit but as I don’t use any languages where for me ligatures would be particularly useful, it's hard to know which actually help improve legibility and which are simply stylistic preferences of individual coders. Since you are proposing this feature, can you please give me more context? what language are you using? which ligatures do you find particularly useful? having a

[2021-04-12 04:41] pauldhunt commented on #249
@zengchulin I do not think that we will produce an alternate font with your preferred glyph shapes as the default, but the sources are open and you can do this yourself. The only issue then is to ensure that the name of the final font is changed to something other than “Source”. Otherwise if your code editor supports OpenType stylistic sets, you can just set the display to use SS04.

[2021-04-12 04:41] #249 closed

[2021-04-12 04:42] pauldhunt commented on #272
@andersk is there anyone at the NPM community that can do this work?

[2021-04-12 04:55] andersk commented on #272
NPM lists the package collaborators as [msousa](https://www.npmjs.com/~msousa) (@miguelsousa?) and [frankrolf](https://www.npmjs.com/~frankrolf) (@frankrolf?). I believe anyone else would need to be invited by one of them.

[2021-04-12 13:25] frankrolf commented on #272
https://www.npmjs.com/package/source-code-pro

[2021-04-12 13:25] #272 closed

[2021-04-22 15:43] jonesnc commented on #273
@zkcloud You can download a patched version of this font that includes ligatures from the `Ligaturizer` project:

https://github.com/ToxicFrog/Ligaturizer/releases/tag/v4

[2021-04-22 22:01] pauldhunt commented on #273
@jonesnc Based on the terms of the Source fonts license, will you please also change the name of the patched version to NOT use the name Source? the license allows for modification and redistribution, but retains the name Source Code for Adobe’s official version. I’ll post this comment also on the `Ligatureizer` project page.

[2021-04-24 07:24] SCLeoX commented on #225
This issue is so f***ing retarded. It took me literally 8 hours trying to troubleshoot. Who would have thought that installing a font can break Windows.

[2021-04-26 18:08] DarrienG commented on #273
This is probably a duplicate: https://github.com/adobe-fonts/source-code-pro/issues/198

[2021-04-29 12:43] zkcloud commented on #273
I use Java more. A few of the usual ones will suffice. Like, ==, !=, ===, >=, <=, ->, :=, <!--.
You may refer to JetBrains Mono, as a reference. But I still used to Source Code Pro. If it's supported, I'm sure most people would be very happy.
:)

[2021-04-29 15:33] ddarbyson commented on #250
I also see colour-syntax not working in Sublime Text 3 under Big Sur when `"font_face": "Source Code Pro"` is defined in settings. I didn't have issue in Catalina.

[2021-04-29 16:09] zkcloud commented on #273
Generally, in most languages, these would be enough:
![](https://cdn.jsdelivr.net/gh/zkcloud/image-cdn@master/20210430000138.png)

[2021-04-29 16:10] zkcloud commented on #273
Generally, in most languages, these would be enough:
![](https://cdn.jsdelivr.net/gh/zkcloud/image-cdn@master/20210430000138.png)

[2021-04-30 03:40] pauldhunt commented on #250
@ddarbyson which version of the Source Code fonts are you using? This issue should have been resolved in the latest builds.

[2021-04-30 13:47] ddarbyson commented on #250
@pauldhunt I installed Big Sur on Wednesday (April 28th, 2021). Here's the info

[code]

[2021-04-30 14:56] ddarbyson opened #274 "iTerm2 - Importing Profile Doesn't work with Source Code Pro"
I just wanted to point out, that when importing a iTerm2 profile the Source Code Pro Powerline fonts never load. They default to Melano 11px. To resolve, you need to re-define the fonts.

This is an issue b/c I like to have my iTerm2 profiles in sync across machines, but this never works flawlessly. We always need to re-configure the Fonts in iTerm2.

[2021-05-04 01:34] pauldhunt commented on #250
@ddarbyson i can see the font version numbers on your colleague’s report, but not on yours. can you tell me what version of the fonts you are using?

[2021-05-04 01:36] pauldhunt commented on #274
@ddarbyson what do you mean by “re-define the fonts”?

[2021-05-04 18:11] ddarbyson commented on #250
Hey @pauldhunt how do I find that? The output is from `brew info` and it shows "/usr/local/Caskroom/font-source-code-pro/latest" for my version.

[2021-05-04 18:16] ddarbyson commented on #274
Sure @pauldhunt... When importing an iTerm2 json profile where Source Code Pro is defined as the default font, it doesn't work. It defaults to Menlo font 11px and needs to be corrected manually.

<img width="942" alt="Screen Shot 2021-05-04 at 2 12 22 PM" src="https://user-images.githubusercontent.com/1116416/117050132-02d50280-ace3-11eb-8224-3364a15d1c20.png">

When on import of new profile, we e

[2021-05-05 12:02] frankrolf commented on #250
I don’t know who maintains the brew install for Source Code Pro, but it seems it points to Google Fonts for the binaries:
https://github.com/Homebrew/homebrew-cask-fonts/blob/master/Casks/font-source-code-pro.rb

The version available on Google Fonts might not be the latest.

[2021-05-07 14:51] #134 closed

[2021-05-11 16:04] jonesnc commented on #273
I'm not a maintainer on that project. I was merely linking to it in an effort to be helpful.

[2021-05-12 20:40] jonesnc commented on #273
Actually, the name of the patched font is `LigaSrc`. Is `Src` different enough from `Source`?

[2021-05-20 13:05] windless0530 commented on #198
Eager to see this in some later version.

[2021-05-21 13:03] pauldhunt commented on #198
@windless0530 im asking everyone piling on to please list which ligatures you would find most useful. I’m currently working on an update so would be good to get a clear picture of what all I should implement.  thnx.

[2021-05-21 13:14] jbrodriguez commented on #198
@pauldhunt I'm really glad to hear that, being as source code pro is my favorite coding font, except I had to switch because of ligatures

Some of the ones I use almost every minute are
===, !==, =>, <=, ->, <-, :=

In any case, [fira code's ligatures](https://github.com/tonsky/FiraCode#whats-in-the-box) could be a reference (for the record, not using fira code right now, i'm using another font wi

[2021-05-21 13:26] rpbaptist commented on #198
@pauldhunt Awesome to hear. I'm really looking forward to that.

Some I frequently use in Ruby

[code]

And in Elixir: (besides some of the above)

[code]

[2021-06-09 22:24] CodeCrazy-ywt commented on #198
Or, Jetbrains Mono is also a good choice.

[2021-06-16 14:24] nbiederbeck commented on #198
I really like the [arbitrary-long combinative arrows from Fira Code](https://github.com/tonsky/FiraCode/blob/master/extras/arrows.png), e.g.
![image](https://user-images.githubusercontent.com/15156697/122236952-3ba9ef00-cebf-11eb-97b4-b79e39f5ba1b.png)

Besides arrows, this make nice lines in e.g. progressbars or underlines

[2021-06-28 08:52] pauldhunt commented on #269
This is an issue that I will not be attending to in the immediate future. If anyone would like to hint the TTF fonts, I would be happy to incorporate them into this project.

[2021-06-30 06:11] pauldhunt commented on #273
@jonesnc Yes, I think so. Thanks for reporting back.

[2021-07-02 15:12] CodeCrazy-ywt commented on #273
Then I wonder if you are going to add the ligature feature to the font.

[2021-07-06 09:23] pauldhunt commented on #273
@code 🚧

[2021-07-06 09:23] pauldhunt commented on #273
@CodeCrazy-ywt 🚧

[2021-07-06 10:49] CodeCrazy-ywt commented on #273
But I just don't know what you mean by just an emoji...😟Could you explain your ideas more clearly?

[2021-07-06 10:56] pauldhunt commented on #273
@CodeCrazy-ywt coding ligatures are under construction.

[2021-07-06 11:02] CodeCrazy-ywt commented on #273
OK, I see. Best news I've ever heard of! Big thanks!

[2021-07-07 01:57] pauldhunt commented on #273
@CodeCrazy-ywt just for my info, which set of ligatures in particular are you wanting to see supported?

[2021-07-07 02:15] CodeCrazy-ywt commented on #273
You can refer to Fira Code or Jetbrains Mono as a reference.

[2021-07-23 09:16] tonyadeanmccurley opened #277 "Source code pro"

[2021-07-23 11:48] frankrolf commented on #277
Open to interpretation? 😉

[2021-07-27 23:12] tonyadeanmccurley opened #278 "Help"
Need to by pass kios security key for inter net

[2021-07-28 00:56] tonyadeanmccurley opened #279 "Help"

[2021-07-28 01:49] pauldhunt commented on #279
Please stop spamming the boards, thanks.

[2021-07-28 01:49] #279 closed

[2021-07-28 01:49] #278 closed

[2021-07-28 01:49] #277 closed

[2021-07-28 01:59] tonyadeanmccurley opened #280 "Adding sandbox"

[2021-07-28 02:03] pauldhunt commented on #280
Please stop.

[2021-07-28 02:03] #280 closed

[2021-07-30 02:19] pouyakary commented on #96
I really love Source Code Pro, yet I really can't stand seeing an ugly `->` to make an arrow, and I don't have to, thanks to the wonderful work of @i-tu on Hasklig. But I just think that the font is designed by you people and it deserves to be called Source Code Pro and not Hasklig, and I really think after the amazing job @i-tu has done, it could be nice to merge back those ligatures to the Sourc

[2021-07-30 03:36] pkazmier commented on #96
I, too, enjoy SCP very much. I love the clean, uncluttered shapes, which make for an easy to read font. It’s simplicity is its elegance in my opinion. With that said, I would also like the option of ligatures as well—not hasklig’s though as it’s meant for Haskell and /= is their not equal ligature.

[2021-07-30 03:48] tonyadeanmccurley opened #281 "1vqui"

[2021-07-30 04:18] CodeCrazy-ywt commented on #96
Merge back? I don't think it a good idea. There's no denying that Hasklig is a good font, but it's specifically designed for Haskell. However, what we need is ligatures compatible with most languages, a la Fira Code.

[2021-07-30 04:23] CodeCrazy-ywt commented on #281
？

[2021-07-30 04:38] tonyadeanmccurley opened #282 "Here"
https://codesandbox.io/invite/j0ihbvkcyo60mlhu

[2021-07-30 05:04] #282 closed

[2021-07-30 05:05] #281 closed

[2021-08-10 23:19] tonyadeanmccurley opened #283 "💕"

[2021-08-10 23:36] #283 closed

[2021-08-14 01:12] CodeCrazy-ywt commented on #283
Have you realized that you are posting spam issues? Stop, please. Stop.

[2021-12-01 02:27] amendgit commented on #198
+1， really want this happen.

[2021-12-30 16:52] PerBothner commented on #247
Another use case is [Notcurses](https://github.com/dankamongmen/notcurses#user-content-fonts).
Some terminal emulators special-case (hand-draw) some of the block/box characters, but it would be simpler and cleaner to have them in the font, assuming that can be made to give good results.

[2021-12-30 17:44] PerBothner commented on #194
Certain characters (Emoji, CJK Kanji, some grapheme clusters, and others) are [expected to be double-width](https://www.unicode.org/reports/tr11/tr11-39.html) in an otherwise monospace context.  Ideally one would like to have monospace full-width (double-width) fonts that are designed to be used along with a matching monospace font.

[2022-01-11 12:45] sjml opened #284 "TTF Release missing Roman fonts?"
Downloading `TTF-source-code-pro-2.038R-ro-1.058R-it.zip` from the [release page](https://github.com/adobe-fonts/source-code-pro/releases/tag/2.038R-ro%2F1.058R-it%2F1.018R-VAR), the zip file only seems to contain the italic version of the font. The OTF download alongside it contains both... is this a mistake, or am I just missing something?

[2022-01-11 12:47] sjml commented on #284
Apologies; I seem to have gotten it mixed up with some older download somehow.

[2022-01-11 12:47] #284 closed

[2022-01-14 15:45] curiousdannii opened #285 "Variable width font"
I was excited to see that Source Code Pro had a variable option, until I saw that it doesn't have support for variable widths. Any chance that support could be added?

[2022-01-17 02:59] pauldhunt commented on #285
hi @curiousdannii Source Sans was designed specifically for open source user interface designs and therefore features a semi narrow width. What widths would you like to see added to this project and for what purpose?

[2022-01-17 03:18] curiousdannii commented on #285
Hi Paul, thanks for replying.

I'm working on a mobile Interactive Fiction interpreter, but it's essentially just a mobile console. The code it's running is somewhat width aware, but did not anticipate being run in *such* a small console, and so it prints over the top of itself. Using 14px SCP my phone can only fit 44 characters per line.

![Screenshot using SCP](https://user-images.githubusercont

[2022-01-25 03:20] pauldhunt commented on #285
Note for future reference: Iosevka glyph width = 500 units; extended styles glyph width = 600 units.

[2022-02-06 09:45] dpk commented on #153
I understand the unwillingness to add them, but here’s a use-case (specifically for `c2sc`): In the Lisp world, Common Lisp implementations print the (case-insensitive) names of variables in all caps by default in all contexts, and Emacs Lisp in some contexts. I would find it moderately less disturbing if I could see them printed in small caps instead.

[2022-02-15 20:34] vngmar opened #286 "Additional Stylistic Set"
Currently, ss02 changes italic "a" to "two-storey" and regular "a" to "single-storey." It would be great to have a stylistic set where both regular and italic "a" are "two-storey." Having an "a" that looks similar to an "o" can be a nuisance when reviewing large strings of code.

[2022-02-21 16:05] iaalm commented on #247
FZF https://github.com/junegunn/fzf also use Braille chars.
+1

[2022-03-29 22:58] lever1209 opened #290 "f and other slim characters get merged"
fi, fl, and ff all get merged into one character instead of true monospace

[2022-04-14 10:08] sauhardo2020 commented on #198
any updates? about the font ligatures?

[2022-04-19 06:26] pauldhunt commented on #198
I had begun on an update to Source Code last year, but have since picked up some additional projects. Coding ligatures are on my list for the next release, but unfortunately that probably won’t happen as soon as we would like.

[2022-04-19 15:38] sauhardo2020 commented on #198
Appreciate the response mate!

[2022-04-21 05:45] pauldhunt commented on #290
Hi can you tell me on what operating system, and program you are noticing this behavior? Additionally, can you provide a screenshot of what you are viewing? Based on the code within the font, this is not programmed to happen as there is no `liga` (ligature) feature currently implemented. However, there are ligature glyphs in the font to support Unicode points. If your application is doing this by

[2022-04-21 11:37] lever1209 commented on #290
~~any application under archlinux, including but not limited to eclipse ide, discord, and firefox~~

after double checking all the spots i can remember, it seems to have been patched

[2022-04-27 21:21] #290 closed

[2022-04-27 21:26] pauldhunt commented on #286
the next version of the fonts will feature an italic `a` that is more differentiated from the `o`, but I will also consider this as an option as well.

[2022-04-27 23:32] vngmar commented on #286
I am glad you are considering it! I am a big fan of Source Code.

[2022-05-23 09:55] ogarcia opened #291 "Include "CN" column number symbol"
If you use [vim](https://www.vim.org/) with [airline](https://github.com/vim-airline/vim-airline) and powerline enabled you need a "CN" symbol at U+E0A3 like the "LN" symbol.

Sample: https://github.com/ryanoasis/powerline-extra-symbols/blob/master/img/fontforge.png
Code: https://github.com/vim-airline/vim-airline/blob/master/doc/airline.txt#L397

Could this be added to Source Code Pro?

[2022-05-23 23:48] fourpastmidnight commented on #291
You don't "need" it. But, it _is_ nice to have. Having said that, there is an option, at least with `vim-airline` to set the font face to be used in the powerline. So, your regular editor font could be SoureCode Pro while the powerline font could be, for example, FiraCode.

Check out the documentation on `vim-airline`.

[2022-05-24 06:31] ogarcia commented on #291
Yes, I know. But the idea is to use Source Code Pro for everything and in that case it is interesting to have the CN symbol. :wink:

[2022-05-24 12:04] fourpastmidnight commented on #291
Did you check out the Nerd Font website? They take fonts and add the Powerline symbols to them. I prefer Microsoft's Cascadia Code, for example, and Nerd Font patched the font with the Powerline symbols and called it Kaskadia Cove.

I beleieve they've done the same with SourceCode Pro. Other fonts they've patched are FiraCode and Hasklig, among many others.

[2022-05-25 00:44] pauldhunt commented on #291
@ogarcia I’ll add this in the next revision.

[2022-06-09 13:33] meyverick opened #293 "Using the font as default Windows font make time not rendering well."
I changed my Windows font using `.reg` file.
[code]

But the time render like this:
![image](https://user-images.githubusercontent.com/101877847/172859550-0f618a3e-3671-42cc-ad33-6dbec2c17769.png)

The `:` isn't rendered.

[2022-06-10 12:20] pauldhunt commented on #293
will add ratio in the next update.

[2022-06-10 17:40] trinhnhatnam commented on #269
Could you add a note about this in README? A lot of programmers like me don't need the lastest character set, but need sharp rendering on Windows machines. For them, 2.030 is best looking.

I recommended this font to others. After trying the lastest, they came back saying that the font didn't look good on their machines like it did on mine, so they moved on. I was puzzled about this, and found out

[2022-06-11 21:08] Scemist commented on #273
Do you know the Hasklig? Is one of the most famous font with ligatures for coding. It's literally the Source Code Pro, but with ligatures added.
The repository is here in GitHub.

Source Code is my favorite monospaced font, and i use Hasklig as well.

[2022-06-12 04:10] CodeCrazy-ywt commented on #273
But, we need general, not specific to just one programming language. Hasklig is specifically designed for Haskell language.

[2022-06-17 19:26] Julia7733 opened #294 "More math symbols"
Hi, thank you for creating this beautiful font! Really like working with it. :)
Although it would be pretty neat if more math symbols would be available. Just typical math symbols like u+21aa or arrows in general.
Thank you very much in advance!

[2022-06-22 06:16] jefferyto commented on #252
For reference, OP opened an issue for LibreOffice: https://bugs.documentfoundation.org/show_bug.cgi?id=138325

[2022-06-24 07:56] iggapres opened #295 "U+230A and U+230B"
Hello there,

I use this font version 2.038-12 from the `adobe-sourcecodepro-fonts` package on OpenSuse Tumbleweed.

I just noticed that the two characters U+230A and U+230B are mixed up.
U+230A should be "left floor" but displays as "right floor" and of course, it's the other way round for U+230B.

Thank you for this great font!

[2022-06-24 20:04] kenmcd commented on #295
Source Code Pro v2.038 does not have those characters.
So you must be seeing a fallback font.

[2022-06-25 16:02] fitojb commented on #252
Thanks for submitting the bug upstream!

[2022-06-28 23:54] pauldhunt commented on #295
@iggapres i will add these characters in the next update.

[2022-07-15 20:56] Kekun commented on #198
I personnaly use the ones for C a lot:
`->` `||` `&&` `++` `--` `|=` `&=` `+=` `-=` `*=` `/=` `!!` `/*` `*/` `//`…

[2022-07-16 00:54] VladimirMarkelov opened #296 "Letters with diacritics (request for a new one, and question about few others)"
1. Could you add letters:

- Ȟ (U+021E LATIN CAPITAL LETTER H WITH CARON)
- ȟ (U+021F LATIN SMALL LETTER H WITH CARON)

2. Can something be done to letters(especially capital ones) with a circumflex? They look good starting from size around 16, but at font size 14 and smaller a circumflex almost merges with a letter (look at Ĉ & Ŝ):

![image](https://user-images.githubusercontent.com/1577186/17932

[2022-07-16 02:47] CodeCrazy-ywt commented on #198
Also, </ />  can be put into consideration.

[2022-08-07 19:13] Morpheus2077 opened #297 "Suggestions for readability"
1. The ® is so small compared to ©℗
2. Increase size of `~ ` ª º`
3. Decrease size of `< >`
4. The `^` is very closed
6. Make a version with ligatures
7. Move `←↑↓→` upper to follow the `- >`
8. Redesign block elements, here an example:
![boxelements](https://user-images.githubusercontent.com/57775700/183306991-ce8ed71a-4dc2-40be-b08e-c18794c7e8e3.jpg)

[2022-08-07 19:38] TomFryers opened #298 "Division slash has a hole in it"
`∕` (U+2215 DIVISION SLASH) has an ugly gap in its middle.

[2022-08-07 19:38] TomFryers commented on #298
![image](https://user-images.githubusercontent.com/61272761/183308150-33cfea0f-4e5d-43f1-a45b-9918c08f75cc.png)

[2022-08-08 19:59] fitojb commented on #298
Intentional. I find it helpful for distinguishing it visually from U+002F. In any case, U+2215 is not meant to be used all alone, but accompanied by numbers around it to compose a diagonally stacked fraction.

[2022-08-11 09:27] dr-scsi commented on #269
@pauldhunt - Is using [ttfautohint](http://freetype.org/ttfautohint/) an option?  The description says:

If that works, maybe you can even drop the effort for the last 1%.  I think it needs some initial work to set up a script, i.e., defining the parameters to `ttfhautohint`, then run the script and add the fonts to upcoming releases.  Does it make sense?

[2022-08-17 02:43] pauldhunt commented on #269
@dr-scsi i will look into it.

[2022-08-20 02:02] manngo opened #299 "Font Width"
I don’t know very much about font metrics, so this question may sound strange.

Given that this is a monospace font, what is the width of the box containing each character, relative to the font size.

For example, in a word processor, I want to set tab stops to the equivalent of 4 characters in, say, 10 or 12 point. My guess is that I have the answer, I could multiply it by 4 and work out the dist

[2022-08-20 13:05] frankrolf commented on #299
This does make sense! 😊
Source Code Pro has a glyph width of 600 units, which means setting the font at 1000 pt will make a glyph (including whitespace) 600 dtp points wide.
A dtp point is defined as 1/72 inch; consequently, in text set at 10 pt, a glyph will be 600 / 1000 * 10 = 6 dtp points wide. This means you’ll have 72 / 6 = 12 glyphs to the inch.

When setting text at 12 pt, a glyph will be

[2022-08-21 14:51] TomFryers commented on #298
I think it's U+2044 (FRACTION SLASH) that's only supposed to used in fractions. Division slash is just a normal mathematical operator. The gap makes certain mathematical expressions look a bit odd to me, e.g.
![image](https://user-images.githubusercontent.com/61272761/185796776-cac2c852-725e-43db-8de4-e89ff50c4c9f.png)

I usually distinguish the division slash from the solidus by angle and length;

[2022-08-22 04:29] manngo commented on #299
Thanks. That worked perfectly. I nearly got it by trial and error with 29pt for 4 characters (should be 28.8).

That means every tab stop for four characters should be:

- 24pt for 10pt font size.
- 28.8 pt for 12pt font size.

In other words, 2.4 * the font size.

The hard part now is trying to get Libre Office styles set up.

Thanks

[2022-08-23 09:44] #299 closed

[2022-08-23 14:40] frankrolf commented on #298
This is interesting information!

The division slash looks the same as the fraction slash, because it’s actually one and the same drawing, with two code points assigned. This solution has been standard practice for all Adobe fonts for years, so I’d be interested in seeing more examples for using the division slash, like you shared above.

[2022-08-30 03:33] pauldhunt commented on #296
Will add in next version.

[2022-08-30 11:21] frankrolf commented on #298
https://superuser.com/a/922075

[2022-08-30 11:28] frankrolf commented on #298
I will change the subject to clarify the intent of the message – the action item for myself is decoupling division slash/fraction slash in Source Serif (basically, dissolve double-mapping and give division slash some more whitespace). Probably the same would be a good idea for Source Code / Source Sans.

[2022-09-02 17:44] TomFryers commented on #298
The division slash is more or less equivalent to LaTeX's math-mode `/`, and the solidus corresponds to its text-mode `/`, or `\slash`. Interestingly, these all seem to be rendered the same! The fractions slash is more like the macros provided by the `xfrac` package.

I think the division slash supposed to be used more or less as a synonym for ÷. I suppose ‘2 ∕ 3’ [division slash] is ‘two divided b

[2022-09-06 01:32] pauldhunt commented on #297
I will consider these as part of the next major revision.

[2022-09-06 01:35] pauldhunt commented on #298
Do those of you weighing in on this thread feel that it would be useful to differentiate the division slash from the fraction slash? Based on this conversation, I feel that I would leave the fraction slash as is with the gap in the middle and make a solid division slash without the gap but with the same length and slope. Do you here feel this would be a good idea?

[2022-09-20 06:06] resolritter opened #300 ""Zero slash" from right to left, instead of left to right"
Thank you for this font.

I was wondering if it would be possible to have a variant of the `ZERO_SLASH` feature (perhaps `ZERO_SLASH_RTL` or something along those lines) which has a slash from right to left, instead of the current left to right.

The motivation is: other fonts I'm used to, included, but not limited to

- Consolas
- Iosevka
- Fira Code
- Inconsolata

All have the zero slash go from

[2022-09-21 02:46] pauldhunt commented on #300
@resolritter Thanks for your feedback. The reversed slash is by design to prevent confusion with Ø and ø. Having the slash run the other way means that there is no ambiguity when these characters are found in proximity to each other. If you prefer the slash running the other way, please feel free to make a custom version according to your preference but be sure to change the name of the fonts to n

[2022-09-21 03:32] resolritter commented on #300
Alright

[2022-09-21 03:32] #300 closed

[2022-09-21 05:59] resolritter commented on #300
For anyone who might be interested in the future, the files which would be changed are `zero.0.glif`, `zero.0c.glif`, `zero.0o.glif`; specifically this part, which is the slash:

https://github.com/adobe-fonts/source-code-pro/blob/992a20b872091ca8d5823283df9d76624f8f4eb4/Roman/Masters/master_1/SourceCode_Regular.ufo/glyphs/zero.0.glif#L33-L38

The files are related to:

https://github.com/adobe-fo

[2022-09-21 11:45] JimEBlevins commented on #214
Matthew Butterick's website _Practical Typography_ is an excellent resource, and he has a page devoted to using **OpenType** features.

[https://practicaltypography.com/opentype-features.html)](https://practicaltypography.com/opentype-features.html)

I note that the free and open-source package **Libre Office** has support for OpenType features in its **Libre Writer:**
[https://help.libreoffice.or

[2022-10-22 04:43] Zorbn commented on #269
@pauldhunt If you're still interested in this, I have a repo that uses ttfautohint to hint the ttf fonts. It also uses ttfautohint's Control Instructions to customize the hinting of glyphs that looked better with manual tweaks.

[SourceCodePro-Hinter](https://github.com/Zorbn/SourceCodePro-Hinter) This repo has a hint.py file that requires the ttfautohint executable to be placed next to it in the

[2022-10-26 19:47] clort81 opened #301 "Proposal: Revise TRIANGLE to be connecting for 'legacy computing' text-graphics"
Greetings and thank you for the Source Code Pro font.  It is very good and is used as default monospace in many linux distributions (e.g. Fedora).

Monospace fonts are also used for terminal-based GUIs using text block glyphs such as:
█ ▊ ▋ ▌ ▍ ▎ ▏ ▐ ▕ ▁ ▂ ▃ ▄ ▅ ▆ ▇ ▀ ▬ ░ ▒ ▓ ▔ ▘ ▝ ▖ ▗ ▟ ▙ ▜ ▛ ▚ ▞ ◢ ◣◥ ◤

We notice that most font designers have chosen to make the triangles non-full-height.
U+25E2

[2022-10-31 19:37] pauldhunt commented on #301
@clort81 i’ll look into it.

[2022-11-10 13:25] #260 closed